@import 'tailwindcss';
.box {
	display: grid;
	grid-template-columns: 5% minmax(0, 60%) minmax(0, 30%);
	grid-template-rows: 8% minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	gap: 14px;
}
.sidebar {
	background-color: #202c3c;
	grid-row: 1/5;
	min-height: 0;
}
.search-bar {
	background-color: #202c3c;
	grid-column: 2/3;
	min-height: 0;
	padding:10px;
}
.hero {
	padding: 20px 20px;
	grid-row: 2/3;
	min-height: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.day-forcaste {
	background-color: #202c3c;
	color: white;
	padding: 16px 20px 20px;
	border-radius: 30px;
	grid-row: 3/4;
	min-height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.air-conditions {
	background-color: #202c3c;
	color: white;
	padding: 10px;
	border-radius: 30px;
	grid-row: 4/5;
	min-height: 0;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
#air-items::-webkit-scrollbar {
	display: none;
}
.week-forcaste {
	background-color: #202c3c;
	grid-row: 2/5;
	grid-column: 3/4;
	min-height: 0;
	overflow: hidden;
}
