@import 'tailwindcss';
/* #bottom-text {
	background: rgba(0, 0, 0, 0.35);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);

	border: 1px solid rgba(255, 255, 255, 0.1);

	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

	border-radius: 16px;
	background: rgba(0, 0, 0, 0.35);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);

	border: 1px solid rgba(255, 255, 255, 0.1);

	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

	border-radius: 16px;
} */
* {
	font-family: helvetica neue;
}
.loader {
	width: 90px;
	height: 90px;
	border: 8px solid rgba(255, 255, 255, 0.2);
	border-top: 8px solid #00d4ff;
	border-right: 8px solid #7df9ff;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	box-shadow:
		0 0 15px #00d4ff,
		0 0 35px #00d4ff;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
:root {
	--c1: rgb(34, 40, 49);
	--c2: rgb(49, 54, 63);
	--c3: rgb(118, 171, 174);
	--c4: rgb(238, 238, 238);
}
